<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="STUDIO2 Subscription Manager SQL" connectionString="Data Source=EIMHIN-PC\SQLEXPRESS;Initial Catalog=STUDIO2 Subscription Manager;Integrated Security=True;Connection Timeout=5;" />
    <add name="STUDIO2_Subscription_Manager.Properties.Settings.STUDIO2_Subscription_ManagerConnectionString" connectionString="Data Source=EIMHIN-PC\SQLEXPRESS;Initial Catalog=STUDIO2 Subscription Manager;Integrated Security=True;Connection Timeout=5;" providerName="System.Data.SqlClient" />
    <add name="STUDIO2_Subscription_Manager.Properties.Settings.STUDIO2_Subscription_ManagerConnectionString1" connectionString="Data Source=EIMHIN-PC\SQLEXPRESS;Initial Catalog=STUDIO2 Subscription Manager;Integrated Security=True;Connection Timeout=5;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>